LoadModule passenger_module /usr/local/rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/passenger-5.1.11/buildout/apache2/mod_passenger.so
<IfModule mod_passenger.c>
 PassengerRoot /usr/local/rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/passenger-5.1.11
 PassengerDefaultRuby /usr/local/rbenv/versions/2.4.2/bin/ruby
 PassengerStartTimeout 300
</IfModule>

<VirtualHost *:80>
# ServerName {{ ansible_hostname }}
  ServerName localhost:80
  RailsEnv {{ rails_env }}
  PassengerEnabled on
  DocumentRoot /var/www/libra/public
  <Directory /var/www/libra/public>
     AllowOverride all
     Options -MultiViews
     # Uncomment this if you're on Apache >= 2.4:
     #Require all granted
  </Directory>
</VirtualHost>
